@font-face {
    font-family: "SF Pro Display";
    src: url("/font/sf-pro-display_regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/font/sf-pro-display_semibold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/font/sf-pro-text_regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/font/sf-pro-text_semibold.woff2") format("woff2");
    font-weight: 600;
}
