@use 'sass:math';

$grid-cols: 12;
$grid-breakpoint-sm: 576;
$grid-breakpoint-md: 768;
$grid-breakpoint-lg: 992;
$grid-breakpoint-xl: 1200;
$grid-container-width: 1200;
$grid-container-gutter-width: 1.5rem;
$grid-gutter-width: 1.5rem;

.container {
    max-width: $grid-container-width * 1px;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
        margin: 0;
    }
}

.row {
    display: flex;
    width: 100%;
}

.col-centered {
    margin: auto;
}

.breakline {
    display: block;
}

@for $i from 1 through $grid-cols {
    .col-#{$i} {
        flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
    }
}

@media screen and (min-width: ($grid-breakpoint-sm * 1px)) {
    @for $i from 1 through $grid-cols {
        .col-sm-#{$i} {
            flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
        }
    }
    .breakline-sm {
        display: inline;
    }
}

@media screen and (min-width: ($grid-breakpoint-md * 1px)) {
    @for $i from 1 through $grid-cols {
        .col-md-#{$i} {
            flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
        }
    }
    .breakline-md {
        display: inline;
    }
}

@media screen and (min-width: ($grid-breakpoint-lg * 1px)) {
    @for $i from 1 through $grid-cols {
        .col-lg-#{$i} {
            flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
        }
    }
    .breakline-lg {
        display: inline;
    }
}

@media screen and (min-width: ($grid-breakpoint-xl * 1px)) {
    @for $i from 1 through $grid-cols {
        .col-xl-#{$i} {
            flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
        }
    }
    .breakline-xl {
        display: inline;
    }
}
