
a, p {
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.003em;
    color: $font-color-dark;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 48px;
    background-color: $dark-grey;

    &__links {
        display: none;
    }

    &__logo {
        width: 48px;
        background-image: url('/img/apple-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: filter 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        filter: invert(31%) sepia(88%) saturate(0%) hue-rotate(176deg) brightness(107%) contrast(91%);

        &:hover {
            filter: invert(0%) sepia(88%) saturate(0%) hue-rotate(176deg) brightness(107%) contrast(91%);
        }
    }

    &__cart {
        width: 48px;
        background-image: url('/img/apple-cart.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: filter 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        filter: invert(31%) sepia(88%) saturate(0%) hue-rotate(176deg) brightness(107%) contrast(91%);

        &:hover {
            filter: invert(0%) sepia(88%) saturate(0%) hue-rotate(176deg) brightness(107%) contrast(91%);
        }
    }

    &__menu-icon {
        position: relative;
        width: 48px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%) rotate(0);
            width: 15px;
            height: 1px;
            background-color: $light-grey;
            
            transition: top .3s cubic-bezier(1,0,1,1), transform .3s cubic-bezier(0,1,1,1), background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        }

        &::before {
            content: '';
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translate(-50%) rotate(0);
            width: 15px;
            height: 1px;
            background-color: $light-grey;
            transition: top .3s cubic-bezier(1,0,1,1), transform .3s cubic-bezier(0,1,1,1), background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        }

        &:hover {
            &::after {
                background-color: white;
            }
            &::before {
                background-color: white;
            }
        }
        
    }
    
    .toggle {
        &::after {
            top: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: top .3s cubic-bezier(0,1,1,1), transform .3s cubic-bezier(1,0,1,1);
        }
        
        &::before {
            top: 50%;
            transform: translate(-50%) rotate(-45deg);
            transition: top .3s cubic-bezier(0,1,1,1), transform .3s cubic-bezier(1,0,1,1);
        }
    }

    a {
        color: white;
    }
}