
* {
    box-sizing: border-box;
}

a, p, span, .title__form-section {
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.003em;
    color: $font-color-dark;
}
