
* {
    box-sizing: border-box;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial' , sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.003em;
    color: $font-color-dark;
}

.homepage {
    margin-top: 48px;
}